<div id="header">
    <ng-include src="'/www/templates/partials/shared/header.html'"></ng-include>
    <div class="ms-Grid jumbo-panel ms-bgColor-themeDarker">
        <div class="ms-Grid-row title-bar">
            <div class="ms-Grid-col">
                <span class="ms-font-m-plus ms-fontColor-themeLighter">Welcome</span>
            </div>
        </div>
        <div class="ms-Grid-row">
            <div class="ms-Grid-col">
                <h2 class="ms-font-su ms-fontColor-themeLighter">US Calendar - 2015</h2>
            </div>
        </div>
        <div class="ms-Grid-row">
            <div class="ms-Grid-col">
                <p class="ms-font-xl ms-fontColor-themeLight">Just click on an image to set it as the desktop background.</p>
                <p class="ms-font-m ms-fontColor-themeLight">Customize your desktop has never been this easy.</p>
            </div>
        </div>
    </div>
</div>

<div flex ng-cloak class="gridListdemoBasicUsage">
    <md-grid-list md-cols-gt-md="8" md-cols-sm="3" md-cols-md="4" md-cols-xs="1"
                  md-row-height-gt-md="1:1" md-row-height="4:3"
                  md-gutter="10px">
        <md-grid-tile ng-repeat="tile in home.tiles"
                      md-rowspan="2"
                      md-colspan="2"
                      md-colspan-xs="1"
                      back-image="{{ 'https://www.bing.com' + tile.url }}"
                      ng-click="home.setBackground(tile)">
            <md-grid-tile-footer><h3>{{tile.copyright}}</h3></md-grid-tile-footer>
        </md-grid-tile>
    </md-grid-list>
</div>