html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: auto;
    color: #222;
}

.jumbo-panel {
    padding: 50px;

    .title-bar {
        margin-bottom: 45px;
        text-transform: uppercase;

        .back-link {
            border-right: solid 2px rgba(255,255,255,0.6);
            padding-right: 6px;
            margin-right: 6px;
        }

        a {
            text-decoration: none;
        }
    }

    p {
        margin: 0;
        margin-bottom: 6px;
        padding: 0;

        &.ms-font-xl {
            margin-top: 15px;
        }
    }

    .ms-Button {
        margin-top: 30px;
        margin-left: 0;
        margin-right: 6px;
    }
}

md-grid-list md-grid-tile.gray {
    background: #f5f5f5;
}

md-grid-list md-grid-tile.green {
    background: #b9f6ca;
}

md-grid-list md-grid-tile.yellow {
    background: #ffff8d;
}

md-grid-list md-grid-tile.blue {
    background: #84ffff;
}

md-grid-list md-grid-tile.darkBlue {
    background: #80d8ff;
}

md-grid-list md-grid-tile.deepBlue {
    background: #448aff;
}

md-grid-list md-grid-tile.purple {
    background: #b388ff;
}

md-grid-list md-grid-tile.lightPurple {
    background: #8c9eff;
}

md-grid-list md-grid-tile.red {
    background: #ff8a80;
}

md-grid-list md-grid-tile.pink {
    background: #ff80ab;
}

md-grid-list md-grid-tile {
    background: center center no-repeat;
}